<% provide( :title, @catlevel2.name) %>


<%if current_user.admin?%>
<div class="row">
  <div class="col-md-12">
  <div class="x_panel" style="">
      <div class="x_title">
<h1>
  
  <%= @catlevel2.name %>
</h1>
<small>this page is available to admins only</small>
</div>
<br>
<br>
<br>






<%= render "catlevel3s/form"%>






  <%else%>
    <h2>Unauthoried access!</h2>
    <p>You are not authorised to view this page.</p>
  <%end%>
  </div>
</div>
</div>