<html>
	<head>
	  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
	<title="Login|3DPetroMan">
	<%=stylesheet_link_tag "logincss"%>
	
	</head>
	<body>
	<div class="container">

    <div class="wrapper">
<center><p><img src="../assets/img/logo.png"/></p>
<h5>Grombll</h5>
</center>
        <div>
 <% flash.each do |message_type, message| %>
		<div class="alert alert-success" role="alert"><%= message %></div>
	<% end %>
	<%=yield%>
	</div>
	</div>
	</div>
	</body>
<html>

